page-update {
    .content{
    
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background: transparent;
        background-image: url(../../assets/imgs/blckk.jpg);
    }
}
